

.nav-menu {
    display: inline-flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 5px;
}
.container {
    display: inline-block;
    cursor: pointer;
    }
  
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
}
.nav-links {
    display:flex;
    list-style-type: none;
}
.nav-buttons {
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding: 0px 20px;
    margin-top: 15px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
} 
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}