
 /* .bar1,  .bar2,  .bar3{
    background-color: #f6f6f6;
}
.home .nav-menu {
    opacity:0;
}
.home .nav-buttons {
    color:#f6f6f6;
}
 .display-name {
    color:#f6f6f6;
    opacity:0;
} */
.display-name {
    position:absolute;
    font-family: 'Antic Didone', serif;
    color: #000;
    font-size: 40px;
    top: 5px;
    left: 16px;
    opacity:0;
}

